.tarea-formulario {
  display: flex; /* Mostrar como contenedor flexible */
  flex-wrap: wrap; /* Envolver los elementos en varias líneas */
  align-items: center; /* Alinear verticalmente los elementos */
  justify-content: center; /* Centrar horizontalmente los elementos */
}

.tarea-input {
   /* Ancho del input de tarea */
  font-size: 18px; /* Tamaño de fuente del input de tarea */
  background-color: white; /* Color de fondo del input de tarea */
  padding: 14px 32px 14px 16px; /* Relleno interno del input de tarea */
  border-radius: 4px 0 0 4px; /* Radio de borde del input de tarea */
  border: 2px solid green; /* Borde del input de tarea */
  outline: none; /* Sin contorno al obtener el foco */
}

.tarea-boton {
  padding: 16px; /* Relleno del botón de tarea */
  font-size: 18px; /* Tamaño de fuente del botón de tarea */
  font-family: Roboto, sans-serif; /* Fuente del botón de tarea */
  border: none; /* Sin borde */
  border-radius: 0 4px 4px 0; /* Radio de borde del botón de tarea */
  cursor: pointer; /* Cursor en forma de puntero */
  outline: none; /* Sin contorno al obtener el foco */
  background: green; /* Fondo del botón de tarea */
  color: white; /* Color del texto del botón de tarea */
  text-transform: capitalize; /* Transformación del texto en mayúsculas */
}

/* Media queries para tamaños de pantalla pequeños (por ejemplo, dispositivos móviles) */

@media screen and (max-width: 400px) {
  .tarea-input {
    width: 80%; /* Ancho del input de tarea en dispositivos móviles */
  }
  
  .tarea-boton {
    width: 80%; /* Ancho del botón de tarea en dispositivos móviles */
    margin-top: 10px; /* Margen superior del botón de tarea en dispositivos móviles */
  }
}
