*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: aliceblue;
  background-color: black;
  font-family: Lato,sans-serif;
  margin-top: 40px;
}
h1{
  color: black;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.free-code-camp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.free-code-camp-logo{
  width: 400px;
  height: 50px;
}

.tareas-lista-principal{
  width: 600x;
  height: auto;
  min-height: 500px;
  background-color: gainsboro;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}