* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: aliceblue;
  background-color: black;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Belanosima', sans-serif;
  text-align: center;
  margin: 15px;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.notepad-logo-contenedor {
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notepad-logo {
  width: 30px;
  max-width: 400px;
  height: auto;
}

.tareas-lista-principal {
  width: 100%;
  max-width: 550px;
  height: auto;
  min-height: 30px;
  background-color: gainsboro;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
  
}
